.container{
    height: 250px;
    /* border-top: 3px solid #000; */
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    font-size: 18px;
}
.title{
    background-color: green;
    color: white;
    font-weight: 400;
    padding: 10px;
    letter-spacing: 5px;
    width: max-content;
}
.linkTitle{
    /* text-decoration: underline; */

}
.linkText{
    margin-right: 20px;
    font-size: 35px;
}
.cardL{
    flex: 2;
}
.cardS{
    flex: 1;
}
.cardItem{
    margin-bottom: 20px;
    font-weight: 300;
    color: rgb(43, 43, 43);
}
@media screen and (max-width: 480px) {
    .container{
        height: auto;
        flex-direction: column;
    }
    .title{
        font-size: 20px;
    }
    .linkText{
        text-align: center;
        font-size: 20px;
    }
    .linkTitle{
        text-align: center;
    }
    .cardItem{
        text-align: center;
    }
}